button{
    padding: 2px;
    margin: 2px;
}
input{
    
    padding: 2px;
    margin: 2px;
}
.container{
    margin: auto;
    /* border: 2px solid red; */
    /* text-align: center; */
    width: 400px;
}
.listitems
{
    text-align: left;
}